* {
  box-sizing: border-box;
}

main {
  height: calc(100vh - 368px);
  border: 1px var(--dark_purple) solid;

}

.sorry {
  text-align: center;
  font-size: 2rem;
}

.search_return {
  font-size: 3rem;
  margin: 20px;
  color: var(--dark_purple);
  text-decoration: underline;
}

.find_form {
  margin: 100px auto;
  text-align: left;
}

table {
  margin: auto;
  font-size: 1.5rem;
}

.input {
}

@media (min-width: 768px) {
  main {
    height: calc(100vh - 192px);
    border: 1px var(--dark_purple) solid;

  }
}

@media (min-width: 1025px) {
  main {
    height: calc(100vh - 316px);
    border: 1px var(--dark_purple) solid;

  }
}
