Options -Indexes

<FilesMatch ".(db)$">
Order allow,deny
Deny from all
</FilesMatch>

<files .env>
Order Allow,Deny
Deny from all
</files>

<files functions.php>
Order Allow,Deny
Deny from all
</files>

RedirectMatch 403 ^/controllers/?$


RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
